<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_anhapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_anhapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BDSDCNA">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnE8-CytwmtRQ5RSzOgpkg7SHispOV54Q" />

        <activity android:name="com.example.bdsdcna.activities.ForgotPasswordActivity" android:exported="false" />

        <activity
            android:name="com.example.bdsdcna.activities.SignInActivity"
            android:exported="true" />

        <activity
            android:name="com.example.bdsdcna.activities.SignUpActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bdsdcna.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.bdsdcna.activities.UpdateMemberActivity"
            android:exported="false" />

        <activity
            android:name="com.example.bdsdcna.activities.ImportExcelActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.example.bdsdcna.activities.UploadActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.HouseDetailActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.HouseImagesActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.MemberActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.ProgressActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.SponsorActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.Camera360Activity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.AccountInfoActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.ChangePasswordActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.UserManagementActivity" android:exported="false" />
        <activity android:name="com.example.bdsdcna.activities.UpdateSituationActivity" android:exported="false" />

    </application>
</manifest>