<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_anhapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_anhapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BDSDCNA">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <!-- Login -->
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true" />

        <!-- Register -->
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />

        <!-- Main (Launcher) -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Import Excel -->
        <activity
            android:name=".activities.ImportExcelActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.UploadActivity" android:exported="false" />
        <activity android:name=".activities.HouseDetailActivity" android:exported="false" />
        <activity android:name=".activities.HouseImagesActivity" android:exported="false" />
        <activity android:name=".activities.MemberActivity" android:exported="false" />
        <activity android:name=".activities.ProgressActivity" android:exported="false" />
        <activity android:name=".activities.SponsorActivity" android:exported="false" />
        <activity android:name=".activities.Camera360Activity" android:exported="false" />
        <activity android:name=".activities.AccountInfoActivity" android:exported="false" />
        <activity android:name=".activities.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".activities.UserManagementActivity" android:exported="false" />
        <activity
            android:name=".activities.UpdateSituationActivity"
            android:exported="false" />
    </application>
</manifest>